@media screen {
    body { 
        background-color: #393B52;
        font-family: "ABeeZee"
    }
    #main{
        position: absolute;
    }
    #relative{
        margin-top: 15%;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 5%;
        overflow: auto;
    }

    #criar-conta{
        background-color: #9A8CC6;
        color: white;
        min-width: 30%;
    }

    #login{
        background-color: white;
        color: #455A64;
        min-width: 30%;
    }

    #logo-image{
        width: 80%;
    }
}